@font-face {
    font-family: 'saudi_riyal';
    src: url('/assets/fonts/saudi_riyal_currancy/saudi_riyal.woff2') format('woff2'),
         url('/assets/fonts/saudi_riyal_currancy/saudi_riyal.woff') format('woff'),
         url('/assets/fonts/saudi_riyal_currancy/saudi_riyal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Ensure the icon class correctly loads the Riyal symbol */
  .icon-saudi_riyal::before {
    content: "\e900";
    font-family: 'saudi_riyal' !important;
    font-size: inherit;
    color: inherit;
  }
